<div class="col-lg-12">
  <div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig">
      <h2 class="font-bold">欢迎来到WAF后台管理系统</h2>
      <div class="error-desc">
        今天是 <%= Time.new.strftime("%Y年%m月%d日")%> 祝您开开心心每一天！
      </div>
    </div>
  </div>
</div>
