<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>编辑封禁的ip</h2>
  </div>
</div>
<%= render 'form' %>

<%#= link_to 'Show', @blocked_ip %> |
<%#= link_to 'Back', blocked_ips_path %>
